{% extends 'layouts/customer_base.html' %}
{% load static %}
{% block title %}Restate-Affordable-Homes{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{% static 'index.css' %}">
{% endblock %}
{% block content %}
    <div class="banner-content">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-sm-12 col-md-3 col-lg-3 mt-5">
                    <h1 class="banner-heading">Your House Is Waiting For You</h1>
                    <a href="d-block btn-custom-secondary"class="btn mt-3">Enquire Now</a>
                </div>
                <div class="col-sm-12 col-md-3 col-lg-3 mt-5">
                    <img src="{% static 'images/bannerimage.jpg' %}" class="image">
                </div>
                <div class="col-sm-12 col-md-3 col-lg-3 mt-5 text-center">
                    <h1 class="mt-5">12</h1>
                    <h6>Years of experience</h6>
                    <br>
                    <h1>18</h1>
                    <h6>Awards gained</h6>
                    <br>
                    <h1>150+</h1>
                    <h6>Properties build</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="body-content mt-4 mb-2">
        <!-- Search -->
        <div class="d-flex justify-content-center">
            <form action="#" class="form-group bg-light p-3 rounded shadow search-form">
                <div class="row align-items-center">
                    <div class="col-3">
                        <select class="form-select border-0 bg-light" aria-label="Location">
                            <option selected>Location</option>
                            {% for location in locations %}
                            <option value="{{ location.id }}">{{ location.name }}</option>
                            {% endfor %}
                          </select>
                    </div>
                    <div class="col-3">
                        <select class="form-select border-0 bg-light" aria-label="City">
                            <option selected>City</option>
                            {% for city in cities %}
                            <option value="{{ forloop.counter }}">{{ city }}</option>
                            {% endfor %}
                           
                          </select>
                    </div>
                    <div class="col-3">
                        <select class="form-select border-0 bg-light" aria-label="Budget range">
                            <option selected>Budget range</option>
                            <option value="1">100k-350k</option>
                            <option value="2">350k-750k</option>
                            <option value="3">750k+</option>
                          </select>
                    </div>
                    <div class="col-3 text-center">
                        <button type="submit" class="btn-dark btn-lg btn-custom-secondary-variant shadow-sm"><i class="fa fa-search" aria-hidden="true"></i> <span class="d-none d-lg-block">Search</span></button>
                    </div>
                </div>
            </form>
        </div>
        <!-- Properties -->
        <div class="container mt-2">
            <h2 class="title-font my-4">Latest property this month</h2>
            <div class="row">
                {% for property in properties %}
                    <div class="col-sm-12 col-md-4 col-lg-4 mt-2">
                        {% include 'components/customer/property_card.html' %}
                    </div>
                {% endfor %}
               
            </div>
        </div>
    </div>
{% endblock %}