{% extends 'layouts/customer_base.html' %}
{% load static %}
{% load floor_rounding %}
{% block title %}Restate-Affordable-Homes{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{% static 'index.css' %}">
{% endblock %}
{% block content %}
    <div class="banner-content">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-sm-12 col-md-3 col-lg-3 mt-5">
                    <h1 class="banner-heading">Your House Is Waiting For You</h1>
                    <a href="d-block btn-custom-secondary"class="btn mt-3">Enquire Now</a>
                </div>
                <div class="col-sm-12 col-md-3 col-lg-3 mt-5">
                    <img src="{% static 'images/bannerimage.jpg' %}" class="image">
                </div>
                <div class="col-sm-12 col-md-3 col-lg-3 mt-5 text-center">
                    <h1 class="mt-5">{{ locations.count }}</h1>
                    <h6>Current locations</h6>
                    <br>
                    <h1>{{ properties.count|round_down:"5" }}</h1>
                    <h6>Properties build</h6>
                    <br>
                    <h1>18</h1>
                    <h6>Awards gained</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="body-content mt-4 mb-2">
        <!-- Search -->
        <div class="d-flex justify-content-center">
          {% include 'components/customer/search_for.html' %}
        </div>
        <!-- Properties -->
        <div class="container mt-2">
            <h2 class="title-font my-4">Latest property this month</h2>
            <div class="row">
                {% for property in properties|slice:":5" %}
                    <div class="col-sm-12 col-md-4 col-lg-4 mt-2">
                        {% include 'components/customer/property_card.html' %}
                    </div>
                {% endfor %}
               
            </div>
        </div>
    </div>
{% endblock %}