
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
:root{
    --primary-color: rgb(23, 23, 23);
    --secondary-color: rgb(254,79, 20);
    --secondary-color-brighter: rgb(226, 97, 55);
    --primary-variant: rgb(235, 235, 235);
    --secondary-variant: rgb(0, 20, 44);
    --secondary-variant-brighter: rgb(11, 35 ,65);

    --default-font: 'Ubuntu', sans-serif;
    --variant-font: 'PT Sans', sans-serif;

    --heading-weight: 900;
    --title-weight:700;
    --smaller-title-weight:500;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--default-font);
    border-style: none;
}
body{
    background-color: var(--primary-color) !important;
    color: var(--primary-variant) !important;
    min-height: 100vh;
}

/* NAV BEGINNING */
nav{
    margin-top: 2rem;
}
nav .logo{
    font-size: 1.5rem;
    font-weight: bold;
}

nav a{
    color: white;
    text-decoration: none;
}
nav .logo:hover{
    color: white;
}
nav ul{
    list-style: none;
}
nav ul li{
    float: left;
    padding: 5px 10px;
}
nav ul li a, .btn-custom-secondary{
    font-size: 1.2rem;
}
nav ul li a:hover{
    color: var(--secondary-color);
    font-size: 1.3rem;
    transition-property: all;
    transition-duration: 0.7s;
}
nav .active{
    color: var(--secondary-color);
    font-size: 1.3rem;
    transition-property: all;
}
/* NAV ENDING */

/* BUTTONS */
.btn-custom-secondary, .btn-custom-secondary-variant{
    padding: 8px 16px;
    border-radius: 5px;
    border: none;
}
.btn-custom-secondary-variant{
    background-color: var(--secondary-variant);
}
.btn-custom-secondary{
    background-color: var(--secondary-color);
   
}
.btn-custom-secondary:hover{
    background-color: var(--secondary-color-brighter);
    color: white;
}
.btn-custom-secondary-variant:hover{
    background-color: var(--secondary-variant-brighter);
    color: white;
}
/* Backgrounds */
.bg-secondary-transparent{
    background-color: transparent !important;
    background-color: linear-gradient(rgba(226, 97, 55,0.9), rgba(226, 97, 55, 0.9));
}


/* SELECT */
select{
    border: none !important;
}
/* Fonts */
.title-font{
    font-size: 1.9rem;
    font-weight: var(--title-weight);
}
.property-img{
    height: 500px;
}


.bg-secondary-transparent{
    background: linear-gradient(rgba(254, 79, 20,0.7), rgba(254, 79, 20, 0.7)) !important;
    background-color: transparent !important;
}