<form action="{% url 'customer:search-results' %}" class="form-group bg-light p-3 rounded shadow search-form" method="get">
    <div class="row align-items-center">
        <div class="col-3">
            <select class="form-select border-0 bg-light" aria-label="Location" name="location">
                <option selected>Location</option>
                {% for location in locations %}
                <option value="{{ location.id }}">{{ location.name }}</option>
                {% endfor %}
              </select>
        </div>
        <div class="col-3">
            <select class="form-select border-0 bg-light" aria-label="City" name="house_type">
                <option selected>Type</option>
                {% for housetype in house_types %}
                <option value="{{ housetype.id }}">{{ housetype.name }}</option>
                {% endfor %}
               
              </select>
        </div>
        <div class="col-3">
            <select class="form-select border-0 bg-light" aria-label="Budget range" name="budget">
                <option selected value="">Budget(In KES)</option>
                <option value="0">below 10,000</option>
                <option value="1">10,000 - 20,000</option>
                <option value="2">20,001 - 30,000</option>
                <option value="3">30,001 - 40,000</option>
                <option value="4">40,001 - 50,000</option>
                <option value="5">50001- 100,000</option>
                <option value="6">Above 100,000</option>
              </select>
        </div>
        <div class="col-3 text-center">
            <button type="submit" class="btn-dark btn-lg btn-custom-secondary-variant shadow-sm"><i class="fa fa-search" aria-hidden="true"></i> <span class="d-none d-lg-block">Search</span></button>
        </div>
    </div>
</form>