<form action="#" class="form-group bg-light p-3 rounded shadow search-form">
    <div class="row align-items-center">
        <div class="col-3">
            <select class="form-select border-0 bg-light" aria-label="Location">
                <option selected>Location</option>
                {% for location in locations %}
                <option value="{{ location.id }}">{{ location.name }}</option>
                {% endfor %}
              </select>
        </div>
        <div class="col-3">
            <select class="form-select border-0 bg-light" aria-label="City">
                <option selected>City</option>
                {% for city in cities %}
                <option value="{{ forloop.counter }}">{{ city }}</option>
                {% endfor %}
               
              </select>
        </div>
        <div class="col-3">
            <select class="form-select border-0 bg-light" aria-label="Budget range">
                <option selected>Budget range</option>
                <option value="1">100k-350k</option>
                <option value="2">350k-750k</option>
                <option value="3">750k+</option>
              </select>
        </div>
        <div class="col-3 text-center">
            <button type="submit" class="btn-dark btn-lg btn-custom-secondary-variant shadow-sm"><i class="fa fa-search" aria-hidden="true"></i> <span class="d-none d-lg-block">Search</span></button>
        </div>
    </div>
</form>